body{
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}

.lasagna-body{
  background-image: url('../recipe_imgs/maryam-jahanmehr-g_BxoUpg1eI-unsplash.jpg');
}

.macaroni-body{
  background-image: url('../recipe_imgs/karolina-kolodziejczak-96_CGkcHmNQ-unsplash.jpg');
}

.pasta-body{
  background-image: url('../recipe_imgs/aleksandra-tanasiienko-0y6eMd8vevA-unsplash.jpg');
}

.ramen-body{
  background-image: url('../recipe_imgs/bon-vivant-qom5MPOER-I-unsplash.jpg');
}

.tacos-body{
  background-image: url('../recipe_imgs/deborah-rainford-zOlZgELBMRg-unsplash.jpg');
}

.menu{
    width: 90%;
    background-color: rgba(255, 255, 255, 0.521);
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
  }
ul{
    font-size: 22px;
    
}
ul {
    list-style: none; /* Remove default bullets */
  }
li.od-list{
    color: rgb(49, 15, 15);
}

p{
    color: rgb(49, 15, 15);
}
  
ul.custom-bullets {
    list-style-type: none; /* Remove default bullets */
    text-align:justify;
    padding-right: 10px;
  }
  
ul.custom-bullets li::before {
    content: "•"; /* Add custom bullet character */
    color: rgba(65, 13, 6, 0.781); /* Change bullet color */
    display: inline-block;
    width: 1em; /* Adjust as needed */
    margin-left: auto; /* Adjust as needed */
  }
header{
    color: rgba(65, 13, 6, 0.781);
    font-size: 32px;
    
}


h2{
    color: rgba(65, 13, 6, 0.781);
}

li{
  font-size: 18px;
}

li.od-list {
    list-style-type: none; /* Remove default bullets */
    text-align:justify;
  }
  
li.od-list li::before {
    content: "•"; /* Add custom bullet character */
    color: rgba(65, 13, 6, 0.781); /* Change bullet color */
    display: inline-block;
    width: 1em; /* Adjust as needed */
    margin-left: auto; /* Adjust as needed */
  }
h4{
    color: rgba(65, 13, 6, 0.781);
    font-size: 20px;
  }
#Headline{
    margin-bottom: 5px;
    margin-top: 5px;
  }

hr {
    height: 2px;
    width: 75%;
    background-color: brown;
    border-color: brown;
  }