body{
    text-align: center;
    background-image:linear-gradient(rgba(19, 147, 87, 0.822), rgba(13, 191, 108, 0.469)), url('recipe_imgs/food-1898194_1280.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    
}

.menu{
  display: block;
  width: 80%;
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.521);
  padding: 2px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 9px;
}

@media screen and (max-width: 768px) {
  .menu {
    width: 90%; /* Adjust width for smaller screens */
  }
}

header{
    color: rgb(38, 134, 102);
    font-size: 32px;
    
}

h2{
    color: rgb(38, 134, 102);
}

ul{
    font-size: 22px;
    
}
ul {
    list-style: none; /* Remove default bullets */
  }
  
ul.custom-bullets {
    list-style-type: none; /* Remove default bullets */
    text-align:justify;
  }
  
/* ul.custom-bullets li::before {
    content: ""; 
    color: rgba(65, 13, 6, 0.781); 
    display: inline-block;
    width: 1em; 
    margin-left: auto; 
  } 
*/

hr {
    height: 2px;
    width: 75%;
    background-color: rgb(6, 77, 66);
    border-color: rgb(6, 77, 66);
    border-radius: 9px;
  }

#Headline{
    margin-bottom: 5px;
    margin-top: 5px;
  }
.address{
  color: rgb(38, 134, 102);
  margin-top: 4px;
  margin-bottom: 5px;
  font-weight: bold;
}

a{
  color: rgb(38, 134, 102);
  text-decoration: none; 
}
a:visited {
  color: rgb(6, 77, 66);
}

a:hover {
  color: rgb(255, 255, 255);
}

.recipes{
  display: inline-block;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url('');
  margin: 8px ;
  padding: 24px;
  text-align: center;
  border: 5px;
  border-color: aquamarine;
  border-radius: 9px;
}

.pasta{
  display: inline-block;
  background-image: linear-gradient(90deg, rgba(185, 250, 241, 0.601) , rgba(254, 254, 254, 0.601), rgba(185, 250, 241, 0.601)), url('');
  margin: 8px ;
  padding: 14px 32px;
  border-radius: 9px;
}
.macaroni{
  display: inline-block;
  background-image: linear-gradient(90deg, rgba(185, 250, 241, 0.601) , rgba(254, 254, 254, 0.601), rgba(185, 250, 241, 0.601)), url('');
  margin: 8px ;
  padding: 14px;
  border-radius: 9px;
}
.lasagna{
  display: inline-block;
  background-image: linear-gradient(90deg, rgba(185, 250, 241, 0.601) , rgba(254, 254, 254, 0.601), rgba(185, 250, 241, 0.601)), url('');
  margin: 8px ;
  padding: 14px 19px;
  border-radius: 9px;
}
.ramen{
  display: inline-block;
  background-image: linear-gradient(90deg, rgba(185, 250, 241, 0.601) , rgba(254, 254, 254, 0.601), rgba(185, 250, 241, 0.601)), url('');
  margin: 8px ;
  padding: 14px 26px;
  border-radius: 9px;
}
.tacos{
  display: inline-block;
  background-image: linear-gradient(90deg, rgba(185, 250, 241, 0.601) , rgba(254, 254, 254, 0.601), rgba(185, 250, 241, 0.601)), url('');
  margin: 8px ;
  padding: 14px 32px;
  border-radius: 9px;
}

