body{
    text-align: center;
    background-image: url('recipe_imgs/food-1898194_1280.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}

.menu{
  width: 80%;
  background-color: rgba(255, 255, 255, 0.521);
  margin-left: auto;
  margin-right: auto;
}

header{
    color: rgba(65, 13, 6, 0.781);
    font-size: 32px;
    
}

header .image{
    width: 450px;
    height: auto;
}

h2{
    color: rgba(65, 13, 6, 0.781);
}

ul{
    font-size: 22px;
    
}
ul {
    list-style: none; /* Remove default bullets */
  }
  
  ul.custom-bullets {
    list-style-type: none; /* Remove default bullets */
    text-align:justify;
  }
  
  ul.custom-bullets li::before {
    content: "•"; /* Add custom bullet character */
    color: rgba(65, 13, 6, 0.781); /* Change bullet color */
    display: inline-block;
    width: 1em; /* Adjust as needed */
    margin-left: auto; /* Adjust as needed */
  }

